.navbar
    background #fdf5e6

.links
    background #fdf5e6 !important

// .search-box input
//     border 2px solid black !important

.sidebar
    background-color #fdf5e6 !important

.nav-links
    color rebeccapurple;

.navbar .links .search-box
    display none

h1{
    color rebeccapurple;
    }
    
h2{
    color #3eaf7c
}