$accentColor = #3eaf7c
$textColor = gray;
$borderColor = #eaecef
$codeBgColor = #282c34 

// .theme-container.backend-class {
//     h1{
//         color: rebeccapurple;
//     }
// }

// .theme-container.frontend-class {
//     h1 {
//         color: rebeccapurple;
//     }
//     p {
//         color: red;
//     }
// }
